body {
    font: 17px Calibri;
}

table {
    width: 100%;
}

table, th, td {
    border: solid 2px grey;
    padding: 2px 3px;
    text-align: left;
}

.glyphicon-star-empty {
    color: white;
}

.nav-item:hover{
    cursor: pointer;
}

.glyphicon {
    color: gold;
    cursor: pointer;
}

.glyphicon:hover {
        opacity: .5;
}

.favourite-item {
    float: right;
    margin-right:35px;
}

.container{
    margin-top:10px;
}

.home:hover , .favourite-saved-item:hover{
    cursor: pointer;
}
